* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--primary-color);
  color: black;
}
:root {
  --primary-color: #f2f5f6;
  --secondary-color: #043a53;
  --accent-color: #f0b73f;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.5;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5;
}

h6 {
  font-size: 1rem;
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 24px 20px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #043a53;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
  font-size: 16px;
  color: #12141d;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:active,
nav ul li a:hover {
  color: #043a53;
}

.auth-links {
  display: flex;
}

.auth-links a {
  text-decoration: none;
  padding: 14px 16px;
  border-radius: 42px;
  margin-left: 10px;
  gap: 10px;
  font-size: 16px;
}

.auth-links a:first-child {
  background-color: white; /* Blue for Log In */
  color: #12141d;
}

.auth-links a:last-child {
  background-color: var(--secondary-color); /* Green for Sign Up */
  color: var(--primary-color);
}

#hero {
  height: 700px;
  padding: 100px 120px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 32px;
}
.hero-content {
  text-align: center;
  padding: 0 20px;
  color: #12141d;
}
.hero-content h1 {
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: -2px;
  text-indent: 36px;
  margin: 0;
}

.hero-content h1 span {
  color: var(--secondary-color);
}

.hero-content p {
  font-size: 20px;
  opacity: 0.7;
  padding: 0 20px;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.hero-buttons button {
  padding: 16px 24px;
  border: none;
  border-radius: 55px;
  background-color: var(--secondary-color); /* Green for Sign Up */
  color: white;
  font-size: 18px;
  box-shadow: 0px 40px 130px 1px #043a53;
}
.hero-buttons button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}
.hero-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
}
.hero-buttons a:hover {
  opacity: 0.8;
}
.hero-buttons a {
  font-size: 18px;
  color: var(--secondary-color);
}
