#blogs {
  padding: 100px 150px;
  background-color: white;
}

.blogs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
}

.blogs-header h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -2%;
  color: #12141d;
}

.blogs-header h2 span {
  color: #043a53;
}

.blogs-header a,
.see-all-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
}

.see-all-link a img {
  width: 24px;
  height: 24px;
}

.blogs-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
}

.blogs {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.blogs-card {
  gap: 24px;
  border-radius: 16px;
  padding: 24px;
  background-color: white;
  flex: 50%;
}

.blogs-card img {
  width: 358.66px;
  height: 257px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.blogs-card .blogs-info {
  gap: 16px;
  padding-right: 25px;
  padding-bottom: 24px;
  padding-left: 25px;
}

.blog-date {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
}

.blog-date p:last-child {
  font-weight: 400;
  color: #404040;
}

.blog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  margin: 0;
}

.blog-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #404040;
}

.read-story-link {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
}

.read-story-link img {
  width: 24px;
  height: 24px;
}

.see-all-link {
  display: none;
  padding: 16px 0;
}

@media only screen and (max-width: 1400px) {
  #blogs {
    padding: 100px 50px;
  }
}

@media only screen and (max-width: 1400px) {
  #blogs {
    padding: 50px 0px;
  }

  .blogs-header {
    justify-content: center;
  }

  .blogs-header h2 {
    margin-bottom: -50px;
    text-align: center;
    padding: 50px 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0%;
  }

  .blogs-header a {
    display: none;
  }

  .blogs-card {
    padding: 16px;
  }

  .blogs-card .blogs-info {
    padding: 0px 16px 16px 16px;
  }
  .blogs-card img {
    width: 358.66px;
    object-fit: fill;
  }

  .blog-date {
    font-size: 12px;
    line-height: 18px;
  }

  .blog-title {
    font-size: 18px;
    line-height: 28px;
  }

  .blog-description {
    font-size: 14px;
    line-height: 20px;
  }

  .read-story-link {
    font-size: 14px;
    line-height: 20px;
  }

  .read-story-link img {
    width: 16px;
    height: 16px;
  }

  .see-all-link {
    display: flex;
  }

  .blogs {
    gap: 0px;
  }
  .blogs-card-container {
    overflow: hidden;
  }

  .blogs-card {
    overflow-x: hidden;
    flex: 100%;
  }
}
