#building-bridges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
  background-color: white;
}

#building-bridges div {
  flex: 50%;
}

.bg-image {
  width: 90%;
  height: auto;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  object-fit: cover;
}

.background-image {
  position: relative;
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  color: white;
  border: 4px solid white;
  border-radius: 1000px;
  top: 60%;
  left: 70%;
  width: 229px;
  height: 229px;
  padding: 26px 56px;
  background-color: #043a53;
  box-shadow: 15px 15px 18px #d7dfe4;
}

.circle div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 100px;
  background-color: #2a586d;
}

.circle-img {
  width: 40px;
  height: 40px;
  top: 5px;
  left: 0.24px;
}

#building-bridges .circle h4 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2%;
  margin: 0;
}

#building-bridges .circle p {
  margin: 0;
  margin-top: -20px;
}

.building-bridges-content {
  padding-right: 150px;
  flex: 50%;
}

.building-bridges-content h4 {
  color: #12141d;
  font-weight: 700;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: -2%;
  margin: 0;
}

.building-bridges-content span {
  color: #92a7b0;
}

.building-bridges-content p {
  color: #12141d;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
}

.building-bridges-content button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #043a53;
  color: #ffffff;
  padding: 14px 14px 14px 22px;
  border-radius: 55px;
  gap: 25px;
}

.building-bridges-content button img {
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 100px;
  background-color: #2a586d;
}

@media only screen and (max-width: 1400px) {
  #building-bridges {
    flex-direction: column;
    gap: 32px;
  }

  #building-bridges div {
    flex: 100%;
  }

  #building-bridges .background-image {
    order: 1;
  }

  .building-bridges-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
  }

  .building-bridges-content p {
    text-indent: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .circle {
    left: 50%;
  }
}

@media only screen and (max-width: 474px) {
  .circle {
    top: 50%;
    left: 40%;
  }
}
