#links-footer-section {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 90px;
  padding-top: 80px;
  padding-right: 150px;
  padding-bottom: 80px;
  padding-left: 150px;
  border-bottom-width: 1px;
  background-color: white;
}

.social-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
}

.social-media {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  flex: 20%;
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-media-links a {
  width: 40px;
  height: 40px;
  gap: 10px;
  border-radius: 100px;
  padding: 8px;
  background-color: #d7e0e5;
}

.social-media-links a img {
  height: 24px;
  width: 24px;
}

.footer-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #404040;
  flex: 50%;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 100px;
}

.home-links h5,
.about-us-links h5 {
  text-wrap: nowrap;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.home-links a,
.about-us-links a {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #404040;
}

#developer-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.frame {
  border-radius: 20px;
  border: 1px solid gray;
}

.frame > p {
  padding: 20px 100px;
  border-bottom: 1px solid gray;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.frame p span {
  color: #6439ff;
}

.frame > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 100px 30px 100px;
}

.frame div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.developer-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 19px;
}

.developer-profile img {
  width: 80px;
  height: 80px;
}

#footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 150px;
  border-top: 2px solid gray;
  color: #92a7b0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.terms-privacy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.global-language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.global-language select {
  background-color: transparent;
  border: none;
  color: #92a7b0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  cursor: pointer;
  outline: none;
}

.global-language img {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 1200px) {
  #links-footer-section {
    padding: 80px 50px;
  }
}

@media only screen and (max-width: 991px) {
  footer {
    margin: 0 20px;
  }

  #links-footer-section {
    flex-direction: column;
    padding: 80px 20px;
  }

  #footer-bottom {
    flex-direction: column;
    padding: 20px;
  }

  .global-language {
    padding: 15px 0;
  }

  #bottom-space {
    background-color: white;
    padding: 30px;
  }

  .frame > div {
    padding: 0 20px 30px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .social-container {
    flex-direction: column;
  }

  .footer-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .home-links h5,
  .about-us-links h5 {
    font-size: 18px;
    line-height: 28px;
  }

  .home-links a,
  .about-us-links a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .frame div p {
    font-size: 14px;
  }
}
