#hero {
  height: 700px;
  padding: 100px 120px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}

.hero-container img {
  object-fit: cover;
}

.hero-content {
  text-align: center;
  padding: 0 1.25rem;
  color: #12141d;
}

.hero-content h1 {
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: -0.125rem;
  text-indent: 2.25rem;
  margin: 0;
}

.hero-content h1 span {
  color: var(--secondary-color);
}

.hero-content p {
  font-size: 1.25rem;
  opacity: 0.7;
  padding: 0 1.25rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero-buttons button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 3.438rem;
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.125rem;
  box-shadow: 0px 2.5rem 8.125rem 1px #043a53;
}

.hero-buttons button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.hero-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
}

.hero-buttons a:hover {
  opacity: 0.8;
}

.hero-buttons a {
  font-size: 1.125rem;
  color: var(--secondary-color);
}

@media only screen and (max-width: 1080px) {
  #hero {
    padding: 0;
  }

  .hero-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }

  .hero-container .hero-content {
    order: -1;
    margin-bottom: 50px;
  }

  .hero-buttons button {
    box-shadow: 0px 0.5rem 10.125rem 0.5px #043a53;
  }
}

@media only screen and (max-width: 768px) {
  .hero-buttons {
    flex-direction: column;
  }
}
