#testimonials {
  padding: 100px 150px;
  gap: 64px;
}

.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
}

.testimonial-header h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -2%;
  color: #12141d;
}

.testimonial-header a,
.see-all-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
}

.see-all-link a img {
  width: 24px;
  height: 24px;
}

.testimonial {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
}

.testimonial-card {
  gap: 24px;
  border-radius: 16px;
  padding: 24px;
  background-color: white;
  flex: 50%;
}

.testimonial-card:first-child {
  display: none;
}

.testimonial-card blockquote {
  margin: 0;
  width: 47;
  height: 14;
  opacity: 0.9;
}

.testimonial-card p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #12141d;
}

.testimonial-info {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: left;
}

.testimonial-info img {
  width: 48px;
  height: 48px;
}

.testimonial-info .testimonial-name h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
}

.testimonial-info .testimonial-name p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #404040;
  margin: 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.carousel .not-active {
  width: 20px;
  height: 12px;
  border-radius: 10px;
  border: 2px solid #043a53;
  color: #d7e0e5;
}

.carousel .active {
  width: 80px;
  height: 12px;
  border-radius: 10px;
  border: 2px solid #043a53;
  background-color: #043a53;
}

.see-all-link {
  display: none;
  padding: 64px 0;
}

@media only screen and (max-width: 1080px) {
  #testimonials {
    padding: 100px 50px;
  }
  .testimonial-header {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  #testimonials {
    padding: 100px 0;
  }

  .testimonial-header {
    justify-content: center;
  }

  .testimonial-header h3 {
    margin-bottom: -50px;
    text-align: center;
    padding: 50px 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0%;
    text-transform: capitalize;
  }

  .testimonial-header a {
    display: none;
  }

  .testimonial-card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .testimonial-info img {
    width: 32px;
    height: 32px;
  }

  .testimonial-info .testimonial-name h4 {
    font-size: 12px;
    line-height: 18px;
  }

  .testimonial-info .testimonial-name p {
    font-size: 14px;
    line-height: 20px;
  }

  .see-all-link {
    display: flex;
  }

  .testimonial-container {
    flex-direction: column-reverse;
  }

  .testimonial-container {
    overflow: hidden;
  }

  .testimonial-card:first-child {
    display: block;
  }

  .testimonial-card {
    overflow-x: hidden;
    width: 70vw;
    flex: 100%;
  }
}
