.trustedBrands {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  gap: 4rem;
}

.trustedBrands h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.brand-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1080px) {
  .brand-logos {
    gap: 32px;
  }
}
@media only screen and (max-width: 1400px) {
  .trustedBrands {
    flex-wrap: wrap;
    gap: 20px;
  }

  .brand-logos {
    justify-content: space-around;
  }
}
